<!-- Header Area -->
<header class="header" >
    <!-- Header Inner -->
    <div class="header-inner">
    <div class="container-fluid">
    <div class="inner">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <!-- Start Logo -->
          <div class="logo">
            <a href="index.html"><img src="logofleskevents.png" alt="logo"></a>
          </div>
          <!-- End Logo -->
          <!-- Mobile Nav -->
          <div class="mobile-nav"></div>
          <!-- End Mobile Nav -->
        </div>
        <div class="col-lg-5 col-md-10 col-12">
          <!-- Main Menu -->
          <div class="main-menu">
            <nav class="navigation">
              <ul class="nav menu">
                <li routerLinkActive="active"><a routerLink="/home">Acceuil</a></li>
                <li><a>Services<i class="icofont-rounded-down"></i></a>
                  <ul class="dropdown">
                    <li><a href="#">Nos offres</a></li>
                    <li><a href="#">Devenir prestataire</a></li>
                  </ul></li>
                <li><a>A propos</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
          <!--/ End Main Menu -->
        </div>
        <div class="col-lg-auto col-12">
          <div class="get-quote">
            <a href="#" class="btn btnsec">Connectez-vous</a>
          </div>
        </div>
        <div class="col-lg-auto col-12">
          <div class="get-quote">
            <a routerLink="/inscription-utilisateur" class="btn btnprim">Crée un compte</a>
          </div>
        </div>   
      </div>
    </div>
    </div>
    </div>
    <!--/ End Header Inner -->
    </header>
