<div class="container">
    <h2>S'inscrire</h2>
    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
            <label for="name">Nom d'utilisateur :</label>
            <input type="text" id="name" formControlName="name">
            <div *ngIf="inscriptionForm.get('name')?.invalid && (inscriptionForm.get('name')?.dirty || inscriptionForm.get('name')?.touched)" class="error-message">
                <div *ngIf="inscriptionForm.get('username')?.errors?.['required']">Le nom d'utilisateur est requis.</div>
            </div>
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="email" id="email" formControlName="email">
            <div *ngIf="inscriptionForm.get('email')?.invalid && (inscriptionForm.get('email')?.dirty || inscriptionForm.get('email')?.touched)" class="error-message">
                <div *ngIf="inscriptionForm.get('email')?.errors?.['required']">L'email est requis.</div>
                <div *ngIf="inscriptionForm.get('email')?.errors?.['email']">Format d'email invalide.</div>
            </div>
        </div>
        <div>
            <label for="phone">Telephone :</label>
            <input type="tel" id="phone" formControlName="phone">
            <div *ngIf="inscriptionForm.get('phone')?.invalid && (inscriptionForm.get('phone')?.dirty || inscriptionForm.get('phone')?.touched)" class="error-message">
                <div *ngIf="inscriptionForm.get('phone')?.errors?.['required']">Le numero de telephone est requis.</div>
            </div>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="inscriptionForm.get('password')?.invalid && (inscriptionForm.get('password')?.dirty || inscriptionForm.get('password')?.touched)" class="error-message">
                <div *ngIf="inscriptionForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
                <div *ngIf="inscriptionForm.get('password')?.errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères.</div>
            </div>
        </div>
        <div>
            <label for="confirmPassword">Confirmer le mot de passe :</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="inscriptionForm.get('confirmPassword')?.invalid && (inscriptionForm.get('confirmPassword')?.dirty || inscriptionForm.get('confirmPassword')?.touched)" class="error-message">
                <div *ngIf="inscriptionForm.get('confirmPassword')?.errors?.['required']">Veuillez confirmer votre mot de passe.</div>
            </div>
            <div *ngIf="!inscriptionForm.get('confirmPassword')?.invalid && !(inscriptionForm.get('confirmPassword')?.dirty && !inscriptionForm.get('confirmPassword')?.touched) && inscriptionForm.errors?.['PasswordNoMatch']" class="error-message">Les mots de passe ne correspondent pas.</div>
        </div>
        <button type="submit" [disabled]="!inscriptionForm.valid" class="btn btnprim">Soumettre</button>
    </form>
</div>